<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
</head>
<body>
    <h1><i>Sobre os Criadores</i></h1>
    <h2><i>André Gonçalves</i></h2>
    <p>Olá meu Nome é André Gonçalves. Sou estudante de infomática e tenho interesse em desenvolvimento web e programação.<br>
        Tenho 17 anos, moro em Maranguape no estado do Ceará e atualmente estou cursando T.I em tempo integral no Instituto Federal do Ceará (IFCE) campus de Maranguape. 
    </p>

    <h2><i>Arthur Marques</i></h2>
    <p>Olá! Meu nome é Arthur Marques dos Santos. Sou estudante de Informática no IFCE e apaixonado por tecnologia e aprendizado.<br>
        Tenho um grande interesse por programação, onde posso transformar ideias em soluções e desafios em oportunidades para crescer. <br>
        Além do mundo da tecnologia, sou fascinado por Física, uma ciência que me inspira a entender como o universo funciona e a explorar <br>
        os fundamentos que moldam nossa realidade. Também sou um entusiasta de jogos online, que combinam diversão com estratégia e trabalho em equipe.
    </p>

</body>
</html>